<div class="col-10 offset-1 sol-sm-8 col-sm-2 col-md-6 offset-md-3">

  <h1>New Gram</h1>

  <%= simple_form_for @gram do |f| %>
    <%= f.input :message %>
    <%= f.input :picture %>
    <%= f.submit "Post!", class: 'btn btn-primary' %>
  <% end %>

</div>